.notFoundBody {
    background-color: rgb(234 233 232);
    align-items: center;
}
.notFoundImg {
  max-width: 35%;

}


.goBack {
    padding: .5rem 2rem;
    border: 0;
    background: #050555;
    color: white;
    font-size: 2rem;
    margin-bottom: 0px;
    margin: 10px 0px;
    cursor: pointer;
}